<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Disconf" type="System.Configuration.DictionarySectionHandler"/>
    <section name="quartz" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
  </configSections>

  <appSettings>
    <!--文本日志路径-->
    <add key="TxtLogPath" value="D:\Logs\CommonWinServices"/>
  </appSettings>

  <Disconf Environment="dev" FilePath="D:\gitStudy\WinServiceShell\Config">
    <Item AppName="Common" Version="1_0_0_1" Files="WinServicesConfig.xml"></Item>
  </Disconf>

  <quartz>
    <add key="quartz.scheduler.instanceName" value="ExampleDefaultQuartzScheduler"/>
    <add key="quartz.threadPool.type" value="Quartz.Simpl.SimpleThreadPool, Quartz"/>
    <add key="quartz.threadPool.threadCount" value="20"/>
    <add key="quartz.threadPool.threadPriority" value="2"/>
    <add key="quartz.jobStore.misfireThreshold" value="60000"/>
    <add key="quartz.jobStore.type" value="Quartz.Simpl.RAMJobStore, Quartz"/>
  </quartz>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
